<article>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render_list class: 'nav nav-tabs' do |li|
    if can? :index, SimplePages::Page
      li << [link_to(t('helpers.index'), pages_path), { class: 'pull-right' }]
    end
    if can? :show, @page
      li << [link_to(t('helpers.show'), @page), { class: 'pull-right' }]
    end
  end %>

  <div>
    <%= simple_form_for @page, as: :page, html: { class: 'form-horizontal' } do |f| %>
      <%= render 'form', f: f, author_options: @author_options, layout_at_options: @layout_at_options %>
      <div class="form-actions">
        <%= submit_button f %>
      </div>
    <% end %>
  </div>

  <footer>
  </footer>
</article>
